:root{
    --edge-padding: 1em;
    --text-margin: 0.5em;
    --image-margin: 10em;
    --article-margin: 6em;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Montserrat', sans-serif;;
    
}

body{
    width: 100%;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1em 1em 3em;
}

.logo{
    width: 30%;
}

.nav-elements{
    font-size: 1.3rem;
}

.nav-elements a {
    margin: 0 var(--text-margin);
    color: black;
    text-decoration: none;
    /* font-family: 'Source Code Pro', monospace; */
    font-size: 1.6rem;
    font-weight: 900;
}

.nav-elements a:hover{
    color: #71da77;
}

/* introduction */

.main-image{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-right: var(--image-margin);
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
}

.myName{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.introduction__text strong{
    font-size: 3.5rem;
    font-weight: 900;
    text-transform: uppercase; 
}

.introduction__text p{
    font-size: 1.5rem;
    font-weight: 600;
}

/* education */
article{
    margin: var(--article-margin);
}

.education-title{
    font-size: 3rem;
    font-weight: 900; 
}

.school,
.major,
.minor{
    font-size: 2rem;
    color: black;
    text-decoration: none;
}